<div class="login-container">
  <mat-card class="login-card">
    <h2>Welcome Back</h2>
    <p>Please sign in to continue</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" type="email">
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Valid email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter your password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password must be at least 6 characters.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <button mat-raised-button color="accent" (click)="loginWithGoogle()">Login with Google</button>

    <p class="register-text">
      Don't have an account? <a routerLink="/register">Sign up here</a>
    </p>
  </mat-card>
</div>
