.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.question-form, .question-list {
  margin-top: 20px;
}

mat-card {
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

mat-toolbar {
  border-radius: 12px 12px 0 0;
}
.break{
  word-break: break-all;
}
.question-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

button {
  min-width: 40px;
}
